{% extends "card.html" %}
{% load i18n %}

{% block card_body %}

    {% if page_obj %}
        <div class="table-responsive">
            <table class="table table-striped align-middle text-center">
                <thead>
                    <tr class="dark">
                        <td scope="col">{% translate "First name" %}</td>
                        <td scope="col">{% translate "Last name" %}</td>
                        <td scope="col">{% translate "Identification type" %}</td>
                        <td scope="col">{% translate "Identification number" %}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for object in page_obj %}
                        <tr>
                            <td>
                                <a href="{{ object.get_absolute_url }}" class="text-decoration-none">
                                    {{ object.first_name }}
                                </a>
                            </td>
                            <td>{{ object.last_name }}</td>
                            <td>
                                {% if object.is_verified %}
                                    <span data-bs-toggle="tooltip" data-bs-title="{% translate "Verified" %}" class="text-success">
                                        <i class="bi bi-check-circle-fill me-2"></i>{{ object.identification_type }}
                                    </span>
                                {% elif object.identification_front_image and object.identification_back_image %}
                                    <span data-bs-toggle="tooltip" data-bs-title="{% translate "Waiting for verification" %}" class="text-warning">
                                        <i class="bi bi-pause-circle-fill me-2"></i>{{ object.identification_type }}
                                    </span>
                                {% else %}
                                    <span data-bs-toggle="tooltip" data-bs-title="{% translate "Images missing" %}" class="text-danger">
                                        <i class="bi bi-exclamation-circle-fill me-2"></i>{{ object.identification_type }}
                                    </span>
                                {% endif %}
                            </td>
                            <td>{{ object.identification_number }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="m-2">
            <i class="bi bi-exclamation-circle me-2"></i>
            {% translate "No dancers have yet been registered. You can start by clicking " %}<a href="{% url "dancer_create" %}" class="text-decoration-none">{% translate "here" %}</a>.
        </p>
    {% endif %}

    {% include "pagination.html" %}

{% endblock card_body %}
