{% load i18n %}
{% autoescape off %}

{% translate "Hi" %}, {{ user.username.first_name|title }}!
{% translate "To reset your password, click the following link or paste it in your browser" %}:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "You can use this link only once. If you need to reset a new password, please visit" %} {{ protocol }}://{{ domain }} {% translate "and ask for a new one" %}.
{% translate "If you didn't request this email, please ignore it" %}.

{% translate "Thank you" %}!
{% translate "The On Stage team" %}.

{% endautoescape %}
