{% load static custom_tags widget_tweaks i18n %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include "bootstrap.html" %}

        <title>On Stage | {% translate "Reset" %}</title>

        <link rel="stylesheet" href="{% static 'staticfiles/css/login.css' %}">

    </head>

    <body class="d-flex flex-column vh-100 py-0">

        {% include "messages.html" %}

        <div class="container-xl my-auto text-center">

            <img class="mb-4 img-fluid rounded-circle" src="{% static 'staticfiles/images/os_black_bg.png' %}" alt="" width="200">

            {% with WIDGET_ERROR_CLASS='is-invalid' %}
                <form method="post" novalidate autocomplete="off" class="form-signin">
                    {% csrf_token %}

                    <p class="h3 mb-3 font-weight-normal">{% translate "Reset password" %}</p>

                    {% render_field form.new_password1 class="form-control" placeholder=form.new_password1.label %}
                    <div class="invalid-feedback">
                        {{ form.new_password1.errors|first }}
                    </div>
                    {% render_field form.new_password2 class="form-control" placeholder=form.new_password2.label %}
                    <div class="invalid-feedback">
                        {{ form.new_password2.errors|first }}
                    </div>

                    <input type="submit" value="{% translate "Reset" %}" class="btn btn-outline-primary m-3">

                    <p class="h6 m-3">{% translate "Already have an account?" %} <a href="{% url 'login' %}" class="text-decoration-none">{% translate "Sign in" %}</a>.</p>
                </form>
            {% endwith %}

        </div>

        {% include "footer.html" %}

    </body>

</html>
