{% extends "registration/login_base.html" %}
{% load widget_tweaks i18n %}

{% block title %}{% translate "Reset" %}{% endblock title %}

{% block content %}

    {% with WIDGET_ERROR_CLASS='is-invalid' %}
        <form method="post" class="form-signin">
            {% csrf_token %}

            <p class="h3 m-4">{% translate "Reset password" %}</p>

            <p>{% translate "Forgot your password? Write down the email you registered with and we will send you the instructions to create a new one." %}</p>

            {% render_field form.email class="form-control" placeholder="Email" autofocus="true" %}
            <div class="invalid-feedback">
                {{ form.email.errors|first }}
            </div>

            <input type="submit" value="{% translate "Send" %}" class="btn btn-outline-primary m-3">

            <div class="my-2">
                <p class="h6 m-3">{% translate "Already have an account?" %} <a href="{% url 'login' %}" class="text-decoration-none">{% translate "Sign in" %}</a>.</p>
            </div>
        </form>
    {% endwith %}

{% endblock content %}
