{% extends "card.html" %}
{% load i18n %}

{% block card_body %}

    {% if page_obj %}
        <div class="table-responsive">
            <table class="table table-striped align-middle text-center">
                <thead>
                    <tr class="dark">
                        <td scope="col">{% translate "Name" %}</td>
                        <td scope="col">{% translate "Dance mode" %}</td>
                        <td scope="col">{% translate "Category" %}</td>
                        <td scope="col">{% translate "Status" %}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for object in page_obj %}
                        <tr>
                            <td>
                                <a href="{{ object.get_absolute_url }}" class="text-decoration-none">
                                    {{ object.name }}
                                </a>
                            </td>
                            <td>{{ object.dance_mode }}</td>
                            <td>{{ object.category }}</td>
                            <td>
                                {% if object.music_track %}
                                    <span class="text-success">
                                        <i class="bi bi-check-circle-fill me-2"></i>{% translate "Complete" %}
                                    </span>
                                {% else %}
                                    <span class="text-warning" data-bs-toggle="tooltip" data-bs-title="{% translate 'Music track missing' %}">
                                        <i class="bi bi-exclamation-circle-fill me-2"></i>{% translate "Incomplete" %}
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="m-2">
            <i class="bi bi-exclamation-circle me-2"></i>
            {% translate "No choreographies have yet been registered. You can start by clicking " %}<a href="{% url 'choreography_create' event.pk %}" class="text-decoration-none">{% translate "here" %}</a>.
        </p>
    {% endif %}

    {% include "pagination.html" %}

{% endblock card_body %}
