{% extends "card.html" %}
{% load static i18n %}

{% block card_body %}

    <div class="row gx-2">
        <div class="col-sm">
            <div class="input-group pb-2">
                <span class="input-group-text">{% translate "Category" %}</span>
                <span class="form-control">{{ object.category }}</span>
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group pb-2">
                <span class="input-group-text">{% translate "Dance mode" %}</span>
                <span class="form-control">{{ object.dance_mode }}</span>
            </div>
        </div>
    </div>

    <div class="row gx-2">
        <div class="col-sm">
            <div class="input-group pb-2">
                <span class="input-group-text">{% translate "Name" %}</span>
                <span class="form-control">{{ object.name }}</span>
            </div>
        </div>
    </div>

    <div class="row gx-2 mt-2">
        <div class="col-sm">
            {% if object.professors.exists %}
                <div class="table-responsive">
                    <table class="table table-striped align-middle text-center">
                        <thead>
                            <tr class="dark">
                                <td scope="col" colspan="2">{% translate "Professors" %}</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for professor in object.professors.all %}
                                <tr>
                                    <td>
                                        <a href="{{ professor.get_absolute_url }}" class="text-decoration-none">
                                            {{ professor }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="m-2">
                    <i class="bi bi-exclamation-circle me-2"></i>
                    {% translate "The choreography has no related professors yet." %}
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row gx-2">
        <div class="col-sm">
            {% if object.dancers.exists %}
                <div class="table-responsive">
                    <table class="table table-striped align-middle text-center">
                        <thead>
                            <tr class="dark">
                                <td scope="col" colspan="4">{% translate "Dancers" %}</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dancer in object.dancers.all %}
                                <tr>
                                    <td>
                                        <a href="{{ dancer.get_absolute_url }}" class="text-decoration-none">
                                            {{ dancer }}
                                        </a>
                                    </td>
                                    <td>{{ dancer.identification_type }} {{ dancer.identification_number }}</td>
                                    <td>$ {{ object.price.amount|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="m-2">
                    <i class="bi bi-exclamation-circle me-2"></i>
                    {% translate "The choreography has no related dancers yet." %}
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row gx-2">
        <div class="col-sm">
            {% if object.payments.exists %}
                <div class="table-responsive">
                    <table class="table table-striped align-middle text-center">
                        <thead>
                            <tr class="dark">
                                <td scope="col" colspan="4">{% translate "Payments" %}</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in object.payments.all %}
                                <tr>
                                    <td>{{ payment.date|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>$ {{ payment.amount|floatformat:2 }}</td>
                                    <td>{{ payment.get_payment_method_display }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="m-2">
                    <i class="bi bi-exclamation-circle me-2"></i>
                    {% translate "The choreography has no registered payments yet." %}
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row gx-2 my-2">
        <div class="col-sm">
            <div class="input-group pb-2">
                <span class="input-group-text">{% translate "Deposit amount" %} {{ event.deposit_percentage }}%</span>
                <span class="form-control {% if object.deposit_paid %}text-success{% else %}text-danger{% endif %}">
                    $ {{ object.deposit_amount|floatformat:2 }}
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group pb-2">
                <span class="input-group-text">{% translate "Choreography total price" %}</span>
                <span class="form-control">
                    $ {{ object.total_price|floatformat:2 }}
                </span>
            </div>
        </div>
        {% if object.discounts.exists %}
            <div class="col-sm">
                <div class="input-group pb-2">
                    <span class="input-group-text">{% translate "Discount" %}</span>
                    <span class="form-control text-success">
                        $ {{ object.discount_amount|floatformat:2 }}
                    </span>
                </div>
            </div>
        {% endif %}
        <div class="col-sm">
            <div class="input-group pb-2">
                <span class="input-group-text">{% translate "Balance" %}</span>
                {% if object.fully_paid %}
                    <span class="form-control text-success">$ -</span>
                {% else %}
                    <span class="form-control text-danger">
                        $ {{ object.balance|floatformat:2  }}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>

    {% if not object.deposit_paid %}
        <p class="m-2">
            <i class="bi bi-exclamation-circle me-2"></i>
            {% translate "In order to freeze the costs detailed above, the deposit must be paid before" %}
            <span class="fw-bold">{{ next_due_date|date:"SHORT_DATE_FORMAT" }}</span>.
            {% translate "After this, costs may vary" %}.
        </p>
        <div class="flex-grow-1 border-bottom my-3"></div>
    {% endif %}

    {% if not object.fully_paid %}
        <div class="m-2">
            <p class="text-decoration-underline">{% translate "Bank information for wires or deposits" %}:</p>
            <ul>
                <li>
                    <span class="text-secondary me-2">{% translate "Bank name" %}:</span> {{ event.contact.bank_name }}
                </li>
                <li>
                    <span class="text-secondary me-2">{% translate "Account owner" %}:</span> {{ event.contact.account_owner }}
                </li>
                <li>
                    <span class="text-secondary me-2">{% translate "Account owner ID number" %}:</span> {{ event.contact.account_owner_id_number }}
                </li>
                <li>
                    <span class="text-secondary me-2">{% translate "Account type" %}:</span> {{ event.contact.account_type }}
                </li>
                <li>
                    <span class="text-secondary me-2">{% translate "Routing number" %}:</span> {{ event.contact.routing_number }}
                </li>
                <li>
                    <span class="text-secondary me-2">{% translate "Alias" %}:</span> {{ event.contact.alias }}
                </li>
            </ul>
        </div>

        <p class="m-2">
            <i class="bi bi-exclamation-circle me-2"></i>
            {% translate "Once a wire or deposit was made, send an email to" %}
            <span class="fw-bold">{{ event.contact.email }}</span>
            {% translate "attaching the receipt and the ID of the choreography that is being paid" %}.
        </p>
    {% endif %}

    <div class="row justify-content-center gx-2 pt-2">
        <div class="col text-center">
            <button type="button" onclick="javascript:history.back()" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-return-left me-2"></i>{% translate "Go back" %}
            </button>
        </div>
    </div>

{% endblock card_body %}
